{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Recommend</h1>

  <form action="/songs" method="POST">
    <div class="voice_to_text"> 
      <h1>What's your mood dude?</h1>
      <input name="mood" id="convert_text"></input>
      <button id="click_to_record">Press to record</button>
    </div>
  </form>

</div>

<script>click_to_record.addEventListener('click',function(){
  var speech = true;
  window.SpeechRecognition = window.webkitSpeechRecognition;

  const recognition = new SpeechRecognition();
  recognition.interimResults = true;

  recognition.addEventListener('result', e => {
      const transcript = Array.from(e.results)
          .map(result => result[0])
          .map(result => result.transcript)
          .join('')

      document.getElementById("convert_text").value = transcript;
      console.log(transcript);
  });
  
  if (speech == true) {
      recognition.start();
  }
})</script>

{% endblock %}
